name: CI

on: 
  workflow_dispatch: 
  push:
    paths:
      - '**.py'
      - '**.bats'
      - '**.yml'
  pull_request:
    paths:
      - '**.py'
      - '**.bats'
      - '**.yml'
jobs:
  build:
    strategy:
      matrix:
        include:
          - python-version: "3.7.17"
            os: ubuntu-22.04
            env-file: "test/environment_min.yml"
          - python-version: "3.12.11"
            os: ubuntu-24.04
            env-file: "test/environment_max.yml"

    name: build-linux
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - name: Checkout test data
      uses: actions/checkout@v6
      with:
        repository: LebeerLab/SCARAP-testdata
        path: testdata

    - name: Set up conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: ${{ matrix.python-version }}
        activate-environment: anaconda-client-env
        environment-file: ${{ matrix.env-file }}
        auto-activate: true
    - name: Setup BATS
      uses: mig4/setup-bats@v1
      with:
        bats-version: 1.2.1
    - uses: brokenpip3/setup-bats-libs@1.5.2
      with: 
        support-path: ${{ github.workspace }}/test/test_helper/bats-support
        assert-path: ${{ github.workspace }}/test/test_helper/bats-assert
    
    - name: Test with bats
      run: |
       bats -r .
