name: CI

on: 
  workflow_dispatch: 
  push:
    paths:
      - '**.py'
      - '**.bats'
  pull_request:
    paths:
      - '**.py'
      - '**.bats'
jobs:
  build:
    strategy:
      matrix:
        include:
          - python-version: "3.7.17"
            os: ubuntu-22.04
            env-file: "test/environment_min.yml"
          - python-version: "3.12.11"
            os: ubuntu-24.04
            env-file: "test/environment_max.yml"

    name: build-linux
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Checkout test data
      uses: actions/checkout@v3
      with:
        repository: LebeerLab/SCARAP-testdata
        path: testdata
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Setup BATS
      uses: mig4/setup-bats@v1
      with:
        bats-version: 1.2.1
    - uses: brokenpip3/setup-bats-libs@0.0.2
      with: 
        support-path: ${{ github.workspace }}/test/test_helper/bats-support
        assert-path: ${{ github.workspace }}/test/test_helper/bats-assert
    
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        conda env update --file ${{ matrix.env-file }} --name base
    - name: Test with bats
      run: |
       bats -r .
